<launch>
	<group ns="camera">
		<node pkg="libuvc_camera" type="camera_node" name="mycam">
			
			<!-- Parameters used to find the camera  -->
			<param name="vendor" value="0x046d"/>
			<param name="product" value="0x080a"/>
			<param name="serial" value="3A496662"/>
			<param name="index" value="0"/>
		
			<!-- Image size and type  -->
			<param name="width" value="800"/>
			<param name="height" value="600"/>
			<param name="video_mode" value="yuyv"/>
			<param name="frame_rate" value="25"/>

			<param name="timestamp_method" value="start"/>
			<param name="camera_info_url" value="file://tmp/cam.yaml"/>
			<param name="auto_exposure" value="3"/>
			<param name="auto_white_balance" value="false"/>
		</node>
	</group>
</launch>
